
body {
    font-family: Monaco, sans-serif;
    font-size: 14px;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.page-settings, .page-home {
    display: none;
}

.page-settings {
    padding: 1em;
}

#player {
    #the-player {
        padding-right: 20px;
    }
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: wheat;
}

.currently-playing {
    font-weight: bold;
    text-decoration: underline;
}

.table-striped tr.active {
    color: #fff;
    background-color: #116cd6;
}