body {
    font-family: Monaco, sans-serif;
    font-size: 14px;
    padding-bottom: 80px;
}

$primary: #6a9094;

.header-bar {
    padding: 5px;
    background: $primary;
}

.page-settings, .page-home {
    display: none;
    padding: 10px;
}

.page-settings {
    padding: 1em;
    .settings-label {
        width: 100px;
    }
    .settings-input {
        width: 250px;
    }
    .form-group {
        display: flex;
        align-items: center;
    }
}

#player {
    #player-wrapper {
        display: flex;
        align-items: center;

        #the-player {
            padding-right: 20px;
        }
        #custom-controls {
            display: none;
        }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: $primary;
}

.table-striped {

    .currently-playing {
        font-weight: bold;
        text-decoration: underline;
        background-color: #116cd6 !important;
        color: #fff;
    }

    .active {
        color: #fff;
        background-color: #116cd6;
    }
}

.list {
    height: 100%;
    .list-select {
        height: calc(100% - 31px);
        width: 100%;
        border: 0;
    }
}

.sidebar {
    overflow-x: auto;
}

#notification-center {
    position: fixed;
    top: 20px;
    right: 50px;
    .success {
        padding: 20px;
        background-color: rgba(20, 92, 0, 1);
        color: #fff;
    }
}